html,
body {
  height: 100%;
}

#hierarchy {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#tree {
  width: 250px;
  height: 100%;
  float: left;
}

#display {
  width: calc(100% - 250px);
  height: 100%;
  float: right;
}
