html,
body {
  height: 100%;
}

#hierarchy {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.jsroot_browser_area {
  background-color: var(--vscode-editor-background)!important;
}

.jsroot_separator {
  background-color: var(--vscode-editor-lineHighlightBorder)!important;
}

.jsroot_draw_area {
  background-color: var(--vscode-editor-background)!important;
}
